@charset "utf-8";
*{
	margin:0;
	padding:0;
	}
	
a:link{
	color:red;
	font-size:25px;
		}
a:hover{
	color:white;
		}	
#top,#nav,#banner,#news,#maket,#links,#foot{
	width:1000px;
	margin:0 auto;
	}
#top{
	
	height:100px;
	background-color: #CF9;
	}
#div1 img{
	}	
#nav{
	height:60px;
	background-color: #0FF;
	}
#banner{
	
	height:463px;
	background-color: #F96;
	}
#news{
	
	height:240px;
	background-color: #FCF;
	}
			
#maket{
	
	height:308px;
	background-color: #9CF;
	}	
#links{
	
	height:245px;
	background-color: #6FF;
	}
#foot{
	
	height:78px;
	background-color: #69F;
	}					
	